:root{
      --laranja-base:     #f26a2f;
      --base-laranja-dk:  #b84e20;
      --base-laranja-lt:  #fac9a8;
      --laranja-bege:  #fde8d8;
      --nearblack:  #1a1208;
      --warmwhite:  #fdf6f1;
      --warm-sand:       #e8d5c8;
      --muted-teal:       #4a7c6f;
      --teal-lt:    #d6ede8;
      --body-text:  #3d2e24;
}

    *{
        box-sizing: border-box;
        margin: 0; 
        padding: 0;
    }

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'DM Sans', sans-serif;
    background-color: var(--warmwhite);
    color: var(--nearblack);
    overflow-x: hidden;
}

nav{
    position: fixed; top: 0; left: 0; right: 0; z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw 0 0;
    height: 80px;
    background: var(--warm-sand);
}

nav img{
    align-content: start;
    height: 65px;
    padding-left: 20px;
}

.links-nav{
    display: flex;
    gap: 100px;
    list-style: none;
}

.links-nav a{
    font-size: 20px;
    font-weight: 400;
    color: var(--nearblack);
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
    transition: color 0.3s;
}

.links-nav a:hover{
    color: var(--laranja-base);
}

.cta{
    background-color: var(--laranja-base);
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 14px 10px 14px;
    border-radius: 150px;
    color: var(--warmwhite);
    transition: background 0.3s;
    transform: 0.2s;
}

.cta:hover {
    background-color: var(--base-laranja-dk);
    transform: translateY(-1px);
}

