:root{
      --laranja-base:     #f26a2f;
      --base-laranja-dk:  #b84e20;
      --base-laranja-lt:  #fac9a8;
      --laranja-bege:  #fde8d8;
      --nearblack:  #1a1208;
      --warmwhite:  #fdf6f1;
      --warm-sand:       #e8d5c8;
      --muted-teal:       #4a7c6f;
      --teal-lt:    #d6ede8;
}

    *{
        box-sizing: border-box;
        margin: 0; 
        padding: 0;
    }

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'DM Sans', sans-serif;
    background-color: var(--warmwhite);
    color: var(--nearblack);
    overflow-x: hidden;
}

nav{
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw 0 0;
    height: 80px;
    background: var(--warm-sand);
}

nav img{
    align-content: start;
    height: 65px;
    padding-left: 20px;
}

.links-nav{
    display: flex;
    gap: 50px;
    list-style: none;
}

.links-nav a{
    font-size: 16px;
    font-weight: 500;
    color: var(--nearblack);
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
    transition: color 0.3s;
}

.links-nav a:hover{
    color: var(--laranja-base);
}

.cta{
    background-color: var(--laranja-base);
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 14px 10px 14px;
    border-radius: 150px;
    color: var(--warmwhite);
    transition: background 0.3s;
    transform: 0.2s;
}

.cta:hover {
    background-color: var(--base-laranja-dk);
    transform: translateY(-1px);
}

#hero{
    min-height: 100vh;
    background: var(--laranja-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 60px 60px 75px;
    position: relative;
    overflow: hidden;
}

.circulo{
    position: absolute;
    border-radius: 50%;
    background: rgba(255,255,255,0.06);
    pointer-events: none;
}

.c1{
    width: 600px; 
    height: 600px; 
    top: -200px; 
    right: -100px;
}

.c2{
    width: 300px; 
    height: 300px; 
    bottom: 40px; 
    left: -80px;
}

.titulo-hero{
    font-family: 'Syne', sans-serif;
    font-size: 96px;
    font-weight: 800;
    line-height: 1.1;
    color: var(--warmwhite);
    max-width: 1000px;
    margin-bottom: 30px;
}

.titulo-hero em{
    font-style: normal;
    color: var(--nearblack);
}

.subtitulo-hero{
    font-size: 24px;
    color: var(--warmwhite);
    max-width: 650px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2.5rem;
}

.botoes-hero{
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    align-items: center;
    z-index: 10;
}

.botao-participar{
    background-color: var(--nearblack);
    color: var(--warmwhite);
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align:center;
    text-decoration: none;
    padding: 15px 14px 15px 14px;
    border-radius: 150px;
    transition: transform 0.15s, background 0.2s;
}

.botao-participar:hover{
    transform: translateY(-2px);
    background: #2e1f10;
}

.botao-incubados{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    color: var(--warmwhite);
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 14px 10px 14px;
    border-radius: 150px;
    border: 3px solid var(--warmwhite);
    transition: transform 0.15s, background 0.2s;
}

.botao-incubados:hover{
    transform: translateY(-2px);
    background: rgba(255,255,255,0.06);
}

.estisticas-hero{
    display: flex;
    gap: 100px;
    margin-top: 30px;
    line-height: 1.2;
    justify-content: flex-end;
    
}

.numero{
    font-family: 'Syne', sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: var(--warmwhite);
}

.legenda{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(253,232,216, 0.85) ;
}

section { padding: 64px 5vw; }

.tag-secao {
    display: inline-flex; 
    align-items: center; 
    gap: 4px;
    font-size: 14px; 
    font-weight: 600; 
    text-transform: uppercase; 
    color: var(--laranja-base);
    margin-bottom: 64px;
}

.titulo-secao {
    font-family: 'Syne', sans-serif;
    font-size: 64px;
    font-weight: 800;
    line-height: 1.1;
    color: var(--nearblack);
    margin-bottom: 1rem;
    max-width: 800px;
}

#Sobre{
    display: grid;
    padding-left: 75px;
    gap: 6vw;
    align-items: center;
    grid-template-columns: 1.2fr 0.8fr;
    background: var(--warmwhite);
}

.texto-sobre {
    font-family: 'DM Sans' sans-serif;
    font-size: 18px;
    color: var(--nearblack);
    line-height: 1.3;
    font-weight: 300;
    max-width: 650px;
    margin-bottom: 30px;
}

.ods9{
    font-family: 'DM Sans' sans-serif;
    font-size: 18px;
    color: var(--muted-teal);
    font-weight: 500;
    line-height: 1.2;
    padding: 5px 0 7px 5px;
    max-width: 700px;
    background-color: var(--teal-lt);
    border-left: 4px solid var(--muted-teal);
}

.card-missao{
    position: relative;
}

.missao{
    background-color: var(--laranja-base);
    color: var(--warmwhite);
    border-radius: 20px;
    max-width: 600px;
    padding: 40px 40px 60px 40px;
}

.missao h3{
    font-family: 'Syne', sans-serif;
    font-weight: 800; 
    font-size: 32px;
    margin-bottom: 1rem;
}

.missao p{
    font-size: 18px;
    line-height: 1.3;
    font-weight: 300;
}

.card-curiosidade{
    position: absolute;
    bottom: -60px;
    left: 40px;
    background: var(--nearblack);
    color: var(--warmwhite);
    border-radius: 16px;
    width: 500px;
    padding: 10px;
    padding-left: 50px;
    font-family: 'Syne', sans-serif;
    font-size: 36px;
    font-weight: 800;
}

.lgd{
    color: var(--laranja-base);
}

#Selecao{
    background: var(--nearblack);
    padding-left: 75px;
}

#Selecao .titulo-secao{
    color: var(--warmwhite);
}

.etapas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 4rem;
    position: relative;
}

.etapa{
    background-color: #231B12;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    position: relative;
    transform: 0.15s;
}

.etapa:hover{
    background-color: #341D0D;
    transform: translateY(-2px);
}

.num-etapa{
    font-family: 'Syne', sans-serif;
    font-size: 64px;
    font-weight: 800;
    color: rgba(242, 106, 47, 0.4);
    margin-bottom: 20px;
}

.icone-etapa{
    width: 60px;
    height: 60px;
    background-color: var(--laranja-base);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--warmwhite);
    margin-bottom: 15px;
}

.nome-etapa{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--warmwhite);
    margin-bottom: 10px;
}

.desc-etapa{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    width: 270px;
    font-weight: 400;
    color: rgba(253, 246, 241, 0.8);
}

#Parceiros{
    display: grid;
    align-items: center;
    grid-template-columns: 1.1fr 0.9fr;
    padding-left: 75px;
    background: var(--laranja-base);
}

#Parceiros .tag-secao {
    color: var(--warmwhite);
}

#Parceiros .titulo-secao{
    font-size: 64px;
}

#Parceiros .titulo-secao span{
    color: var(--warmwhite);
}

.texto-parceiros{
    font-family: 'DM Sans' sans-serif;
    font-size: 18px;
    color: var(--warmwhite);
    line-height: 1.3;
    font-weight: 300;
    max-width: 650px;
    margin-bottom: 30px;
}

.parceiros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 40px;
}

.parceiro{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--warmwhite);
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
}

#Incubados{
    color: var(--warmwhite);
    padding-left: 75px;
}

#Incubados .titulo-secao{
    max-width: 1200px;
    margin-bottom: 100px;
}

#Incubados .titulo-secao span{
    color: var(--laranja-base);
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-wrapper{
    position: relative;
    overflow: hidden;
}

.carousel-track{
    display: flex;
    gap: 24px;
    transition: transform 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    will-change: transform;
}

.card-empresas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 75px;
}

.card-empresa{
    border: 2px solid rgba(26, 18, 8, 0.75);
    border-radius: 20px;
    overflow: hidden;
    width: 350px;
    transition: box-shadow 0.25s, transform 0.25s;
}

.card-empresa:hover {
    box-shadow: 0px 16px 20px 4px var(--warm-sand);
    transform: translateY(-4px);
}

.body-card{
    padding: 24px;
    padding-left: 15px;
    height: 230px;
}

.nome-card{
    font-family: 'Syne', sans-serif;
    font-size: 20px; 
    font-weight: 800;
    color: var(--nearblack); 
    margin-bottom: 8px;
}

.desc-card{
    font-family: 'DM Sans' sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--nearblack);

}

.footer-card{
    padding: 16px 24px;
    border-top: 1px solid rgba(26, 18, 8, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.nivel-card{
    font-family: 'DM Sans' sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--nearblack);
}

.link-card{
    font-family: 'DM Sans' sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--laranja-base);
}

.header-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 150px;
}

#gartni .header-card{
    background-color: var(--muted-teal);
}

#edbv .header-card{
    background-color: #181647; 
}

#ia2groms .header-card{
    background-color: #FFEFAF;
}

#iotvision .header-card{
    background-color: #5CE1E6;
}

#hefenas .header-card{
    background-color: #5878E2;
}

#vdchat .header-card{
    background-color: var(--nearblack);
}

#vdchat .desc-card{
    width: 328px;
}

#ajeitai .header-card{
    background-color: #A1DE72;
}

#enxame .header-card{
    background-color: #ACFCFF;
}

#gabaritaia .header-card{
    background-color: #680CE9;
}

#sypos .header-card{
    background-color: #569D41;
}

#markant .header-card{
    background-color: #FFE552;
}

.botao-carousel{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

#antBt{
    padding-right: 10px;
}

#proxBt{
    padding-left: 10px;
}

.botao-carousel:hover{
    opacity: 0.7;
}

.botao-carousel:active{
    transform: scale(0.95)
}

#Participar{
    background-color: var(--nearblack);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 120px 96px;
}

#Participar .titulo-secao{
    justify-content: center;
    color: var(--warmwhite);
    width: 570px;
    line-height: 1.2;
}

#Participar .titulo-secao span{
    color: var(--laranja-base);
}

.texto-participar{
    color: rgba(253, 246, 241, 0.75);
    width: 400px;
    margin-bottom: 40px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.cta-participar{
    background-color: var(--laranja-base);
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 14px 10px 14px;
    border-radius: 150px;
    color: var(--warmwhite);
    transition: background 0.3s;
    transform: 0.2s;
}

.cta-participar:hover{
    background-color: var(--base-laranja-dk);
    transform: translateY(-1px);
}

footer{
    background-color: var(--nearblack);
    border-top: 3px solid var(--laranja-base);
}

.footer-principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: 20px;
}

.info{
    padding-left: 75px;
}

.info img{
    height: 100px;
}

.info-texto{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: rgba(253, 246, 241, 0.75);
    margin-bottom: 20px;
}

.tag-ods9{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--laranja-base);
    background-color: #6B2C0E;
    border-radius: 20px;
    border: 2px solid var(--laranja-base);
    width: 280px;
    text-decoration: none;
}

.contatos{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.contatos-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
}

#Contato .tag-secao{
    margin-bottom: 10px;
}

.contato{
    color: var(--warmwhite);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

.contato span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #231B12;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    padding: 5px;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    padding-right: 60px;
}

.titulo-social{
    color: var(--laranja-base);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase; 
}

.redes-sociais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo-social{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #231B12;
    border: 1px solid var(--warmwhite);
    border-radius: 10px;
    padding: 7px;
    transition: background 0.3s;
    transform: 0.2s;
}

.logo-social:hover{
    background-color: rgba(242, 106, 47, 0.4);
    transform: translateY(-1px);
}

.copyright{
    margin-top: 30px;
    padding-left: 75px;
    padding-bottom: 20px;
}

.linkcv{
    text-decoration: none;
    color: var(--warmwhite);
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-weight: 200;
}